extends ../_layout

block styles
    link(rel="stylesheet", href="/static/bower_components/toastr/toastr.css")

block headScripts
    script(type='text/javascript', src='/static/bower_components/toastr/toastr.js')
block content
    .container
        .col-md-9.col-md-offset-1.add-spacing-before
            h3.text-center.add-spacing-after Detailed Analytics

            h4 UserId: 
                a.red-text(href="/users/analytics/" + userAnalytics.userId) #{userAnalytics.userId}
            div User Agent: #{userAnalytics.userAgent}
            div Land from: #{userAnalytics.cameFrom}
            div Land time: #{userAnalytics.arriveTimeStamp}
            div Has registered: #{userAnalytics.hasRegistered}
            div Login time: #{userAnalytics.loginTimeStamp}
            
            h4 Pages before login
            ul
                each page in userAnalytics.pagesBeforeLogin
                    li=page
            h4 Pages after login
            ul
                each page in userAnalytics.pagesAfterLogin
                    li=page