extends ../_layout
block content
    .text-center
        p.country-name #{result.name}
        img(src= result.countryImgUrl, class="country-img")
        
        .table-country-details
            .col-md-6.col-md-offset-3
                table.table.table-striped.table-hover.table-country-details
                    thead
                        tr
                        th.text-center Capital
                        th.text-center Currency
                        th.text-center Population
                        th.text-center Area
                        th.text-center Population Density
                    tbody
                        tr.active
                        td.text-center=result.capital
                        td.text-center=result.currency
                        td.text-center=result.population
                        td.text-center=result.area
                        td.text-center=result.populationDensity
    
    .country-info
        div=result.countryInformation
