extends ../_layout
block content
    .text-center.add-spacing-before
        p.country-name.add-spacing-after #{country.name}
        img(src= country.countryImgUrl, class="country-img")
        
        .table-country-details
            .col-md-6.col-md-offset-3
                table.table.table-striped.table-hover.table-country-details.add-spacing-after
                    thead
                        tr
                        th.text-center Capital
                        th.text-center Currency
                        th.text-center Population
                        th.text-center Area
                        th.text-center Population Density
                    tbody
                        tr.active
                        td.text-center=country.capital
                        td.text-center=country.currency
                        td.text-center=country.population
                        td.text-center=country.area
                        td.text-center=country.populationDensity
    
    .country-info.add-spacing-before.add-spacing-after
        p=country.countryInformation
    
    p.text-center
            a.btn.btn-primary(href="/countries") Back to countries
