extends ../shared/layout

block main-content
    .container
        h2
          | Personal Info

        .jumbotron
            if(currentUser.profileImageURL)
                p
                    img(src="#{currentUser.profileImageURL}" id='profile-image')
            else
                p
                    img(src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcROlGRdktKqjAEM9czQSiNjcH9bi_QHI21-nZKaa6mw_4dgbvoR" id='profile-image')

            h3 Username: #{currentUser.username}

        form(method="post", action="", class='form-horizontal')
        .form-group(hidden)
            h4.col-lg-3.control-label Username:           
            .col-lg-7
                input.form-control(value = currentUser.username type='text' name='username' readonly)
        .form-group
            h4.col-lg-3.control-label Email:           
            .col-lg-7
                input.form-control(value = currentUser.email type='text' name='email')
        .form-group
            h4.col-lg-3.control-label First Name:           
            .col-lg-7
                input.form-control(value=currentUser.firstName type='text' name='firstName')
        .form-group
            h4.col-lg-3.control-label Last Name:           
            .col-lg-7
                input.form-control(value=currentUser.lastName type='text' name='lastName')
        .form-group
            h4.col-lg-3.control-label Password:           
            .col-lg-7
                input.form-control( type='password' name='password')
        .form-group
            h4.col-lg-3.control-label Confirm Password:           
            .col-lg-7
                input.form-control( type='password' name='confirmPassword')

        .form-group
            h4.col-lg-3.control-label Profile Image URL:
            .col-lg-7
                if(currentUser.profileImageURL)
                    input.form-control(value=currentUser.profileImageURL type='text' name='profileImageURL')
                else
                    input.form-control(value="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcROlGRdktKqjAEM9czQSiNjcH9bi_QHI21-nZKaa6mw_4dgbvoR" type='text' name='profileImageURL')


        .form-group
            .col-md-7
                button.btn.btn-primary(type="submit") Save Changes
                a.btn.btn-default(href="/profile") Cancel
