extends ../_layout

block styles
    link(rel="stylesheet", href="/static/bower_components/toastr/toastr.css")

block headScripts
    script(type='text/javascript', src='/static/js/profile-update.js')
    script(type='text/javascript', src='/static/bower_components/toastr/toastr.js')
    
block content
    .container
        h2
          | Personal Info

        .jumbotron
            if(user.profileImgURL)
                p
                    img(src= user.profileImgURL, id='profile-image')
            else
                p
                    img(src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcROlGRdktKqjAEM9czQSiNjcH9bi_QHI21-nZKaa6mw_4dgbvoR" id='profile-image')

            h3 Username: #{foundUser.username}
            div Guess the country stars  &nbsp
                - var n = 0;
                span.rating
                    while n < guessTheCountryStars
                        span.glyphicon.glyphicon-star
                        - n++;
                    while n < 5
                        span.glyphicon.glyphicon-star-empty
                        - n++;
            div Test your knowledge stars  &nbsp
                - var m = 0;
                span.rating
                    while m < testYourKnowledgeStars
                        span.glyphicon.glyphicon-star
                        - m++;
                    while m < 5
                        span.glyphicon.glyphicon-star-empty
                        - m++;
        if ownProfile
            form(method="post", action="", class='form-horizontal')
        else
            div
        if ownProfile
            .form-group(hidden)
                h4.col-lg-3.control-label Username:           
                .col-lg-7
                    input.form-control(id="username", id-data=foundUser._id value = foundUser.username type='text' name='username' readonly)
        if ownProfile
            .form-group
                h4.col-lg-3.control-label Email:           
                .col-lg-7
                    input.form-control(id="email" value = foundUser.email type='text' name='email')
        else
            div 
                span Email :
                span  #{foundUser.email}
        if ownProfile
            .form-group
                h4.col-lg-3.control-label First Name:           
                .col-lg-7
                    input.form-control(id="firstName" value=foundUser.firstName type='text' name='firstName')
        else
            div 
                span First name :
                span  #{foundUser.firstName}
        if ownProfile
            .form-group
                h4.col-lg-3.control-label Last Name:           
                .col-lg-7
                    input.form-control(id="lastName" value=foundUser.lastName type='text' name='lastName')
        else
            div 
                span Last name :
                span  #{foundUser.lastName}
        if ownProfile
            .form-group
                h4.col-lg-3.control-label Password:           
                .col-lg-7
                    input.form-control(id="password" type='password' name='password')
            .form-group
                h4.col-lg-3.control-label Confirm Password:           
                .col-lg-7
                    input.form-control(id="confirmPassword" type='password' name='confirmPassword')

            .form-group
                h4.col-lg-3.control-label Profile Image URL:
                .col-lg-7
                    if(user.profileImgURL)
                        input.form-control(id="profileImg", value= user.profileImgURL, type='text', name='profileImageUrl')
                    else
                        input.form-control(id="defaultProfileImg" value="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcROlGRdktKqjAEM9czQSiNjcH9bi_QHI21-nZKaa6mw_4dgbvoR" type='text' name='profileImageURL')


            .form-group
                .col-md-7
                    button.btn.btn-success(id="save-changes" type="submit") Save Changes
                    a.btn.btn-primary(href="/users/" + foundUser.username) Cancel

        .form-group
            label(for="comment") Comment:
            textarea#comment.form-control
            button#add-comment.btn.btn-success Add comment
